<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
         <form method="post" action="/main">
             <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
             <input type="text" name="text" placeholder="Введите сообщение">
             <input type="text" name="tag" placeholder="Тэг">
             <button type="submit">Добавить</button>
         </form>
    </div>
    <div>
        <h3>Фильтр</h3>
        <form method="post" action="/main/filter">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <input type="text" name="filter" placeholder="Введите фильтр">
            <button type="submit">Найти</button>
        </form>
    </div>
    <div>
        <h3>Список сообщений</h3>
        <ul>
            <li th:each="message : ${messages}">
                <b th:text="${message.id}"/>:
                <span th:text="${message.text}"/>
                <i th:text="${message.tag}"/>
                <strong th:text="${message.authorName}"/>
            </li>
        </ul>
    </div>
</body>
</html>